body {
  min-width: 960px;
}

h1, h2, h3 {
  font-weight: normal;
  color: #444;
}

a {
  color: #676767;
}

p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0.7;
  margin: 0.8em 0;
}

.sidebar {
  width: 220px;
  background: #f5f5f5;
  position: fixed;
  height: 100%;
  border-right: 1px solid #eee;
  overflow: scroll;
}

.sidebar h1 {
  padding: 0.5rem 0 0.5rem 1rem;
  margin: 0 0 0.4rem 0;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
}

.sidebar h1 a {
  text-decoration: none;
}

.content {
  margin-left: 220px;
  min-height: 100vh;
  background: linear-gradient(to right, #fff 0%, #fff 50%, #222 50%, #222 100%);
  overflow: hidden;
}

section {
  display: flex;
}

section .left {
  width: 50%;
  border-top: 1px solid #eee;
}

section .right {
  width: 50%;
  color: #fff;
  border-top: 1px solid #333;
}

.padding {
  padding: 2rem 2.5rem;
}

.node-name--H1 {
  font-size: 1.05rem;
  font-weight: 500;
  margin-top: 10px;
}

.node-name--H1.is-active-link::before {
  display: none;
}

.node-name--H2 {
  font-size: 0.85rem;
}

ul.toc-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toc-list-item {
  position: relative;
}

a.toc-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}

a.toc-link:hover {
  background: rgba(0, 0, 0, 0.03);
}

ul.toc-list ul.toc-list a.toc-link {
  padding: 0.5rem 1rem 0.5rem 2rem;
}

.is-active-link {
  color: #1888ce;
}

.is-collapsed {
  display: none;
}

th {
  font-size: 0.6rem;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: #999;
}

td {
  font-size: 0.9rem;
  font-size: 13px;
}

th, td {
  padding: 8px 4px;
}

table {
  border-collapse: collapse;
  margin: 0 -4px;
  width: 100%;
}

thead tr {
  border-bottom: 1px solid #ddd;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

code {
  font-size: 0.8rem;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

code.path {
  background: #f3f3f3;
  display: block;
  padding: 0.5rem 0.8rem;
  border-radius: 3px;
  color: #3c3c3c;
  margin: 20px 0;
}

code.inline {
  background: #eee;
  padding: 0.2rem 0.4rem;
  background: #f3f3f3;
  border-radius: 3px;
  color: #3c3c3c;
}

.resource-info {
  width: 50%;
}

.note {
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 0.9rem;
}

.note.--success {
  background-color: #dff0d8;
  color: #3c763d;
}

.note.--info {
  background-color: #d9edf7;
  color: #31708f;
}

.note.--warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.note.--danger {
  background-color: #f2dede;
  color: #a94442;
}

.response-status {
  color: #666;
}

label {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

label div {
  margin-bottom: 0.2rem;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #999;
}

input:focus {
  border: 1px solid #0275d8;
  outline: none;
}

input.btn {
  width: auto;
  color: #0275d8;
  border: 1px solid #0275d8;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
