body {
  min-width: 960px;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  color: #000;
}

p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar {
  width: 220px;
  background: #f5f5f5;
  position: fixed;
  height: 100%;
  border-right: 1px solid #eee;
}

.sidebar h1 {
  padding: 0.5rem 0 0.4rem 1rem;
  margin: 0 0 0.4rem 0;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
}

.content {
  margin-left: 220px;
  min-height: 100vh;
  background: linear-gradient(to right, #fff 0%, #fff 50%, #222 50%, #222 100%);
  overflow: hidden;
}

section {
  display: flex;
}

section .left {
  flex: 1;
  border-bottom: 1px solid #ddd;
}

section .right {
  flex: 1;
  color: #fff;
  border-bottom: 1px solid #333;
}

.padding {
  padding: 1rem;
}

ul.toc-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

a.toc-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}

ul.toc-list ul.toc-list a.toc-link {
  padding: 0.5rem 1rem 0.5rem 2rem;
}

.is-active-link {
  color: #1888ce;
}

.is-collapsed {
  display: none;
}

th {
  font-size: 0.6rem;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: #999;
}

td {
  font-size: 0.9rem;
}

th, td {
  padding: 8px 4px;
}

table {
  border-collapse: collapse;
  margin: 0 -4px;
  width: 100%;
}

thead tr {
  border-bottom: 1px solid #ddd;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

code {
  font-size: 0.8rem;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

code.path {
  background: #eee;
  display: block;
  padding: 4px 8px;
}

code.inline {
  background: #eee;
  padding: 2px 4px;
}
